<!-- main-layout.component.html -->

<div class="d-flex" id="wrapper">
  <app-sidebar></app-sidebar>
  <app-content></app-content>
</div>












<!--&lt;!&ndash; main-layout.component.html &ndash;&gt;-->
<!--<div class="d-flex" id="wrapper">-->
<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <app-sidebar></app-sidebar>-->
<!--  &lt;!&ndash; Page content wrapper &ndash;&gt;-->
<!--  <div id="page-content-wrapper">-->
<!--    &lt;!&ndash; Top navigation &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
<!--      <div class="container-fluid">-->
<!--        <button class="btn btn-primary" id="sidebarToggle" (click)="toggleSidebar()">Toggle Menu</button>-->
<!--        &lt;!&ndash; ... Other navigation elements ... &ndash;&gt;-->
<!--      </div>-->
<!--    </nav>-->
<!--    &lt;!&ndash; Page content &ndash;&gt;-->
<!--    <div class="container-fluid">-->
<!--      <router-outlet></router-outlet> &lt;!&ndash; This is where the content component will be rendered &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->












<!--&lt;!&ndash; main-layout.component.html &ndash;&gt;-->
<!--<div class="main-layout">-->
<!--  <app-sidebar></app-sidebar>-->
<!--  <app-content></app-content>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

