<!-- side-bar.component.html -->

<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
  <div class="list-group list-group-flush">
    <!-- Sidebar items go here -->
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/main/employees" routerLinkActive="active">Employees</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/main/leaves" routerLinkActive="active">Leaves</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/main/expenses" routerLinkActive="active">Expenses</a>
  </div>
</div>










<!--&lt;!&ndash; side-bar.component.html &ndash;&gt;-->
<!--<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">-->
<!--  &lt;!&ndash; Content is only shown when the sidebar is not collapsed &ndash;&gt;-->
<!--  <ng-container *ngIf="!isCollapsed">-->
<!--    <ul>-->
<!--      <li><a routerLink="/main/employees">Employees</a></li>-->
<!--      <li><a routerLink="/main/leaves">Leaves</a></li>-->
<!--      <li><a routerLink="/main/expenses">Expenses</a></li>-->
<!--    </ul>-->
<!--  </ng-container>-->

<!--</div>-->

