<!-- delete-employee-modal.component.html -->

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn custom-close-button" aria-label="Close" (click)="cancel()">×</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ employee?.name }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">No</button>
      </div>
    </div>
  </div>
</div>

